.profilecard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 100%;
    text-align: center;
  }
  
.profiletitle {
    color: #332FD0;
    font-size: 18px;
  }
  
.profilecard button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
.profilecard button:hover, .profilecard a:hover {
    opacity: 0.7;
  }
